*
{
  padding-right: 20px;
  padding-left: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 5px;

}
.cont1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.heading {
  text-align: center;
  font-size: 4.3vw;

}
.cont2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.6;
}
.cont2 > .sub > span,.cont3>.sub1>span,.cont3>.sub2>span,.cont3>.sub3>span
{
  background-color: red;
  color: white;
}
.cont3
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.6;
  margin-top: 10px;
}
.sep
{
    border-top: 1px solid black;
    color: red;
    padding-top: 20px;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding-top:  5px ;
  border-top: 1px solid black;
}
